node_modules

ignorado*

# Pero incluye el fichero superignore de la ignorado
!/superignore.js


# Pero incluye todos los archivos o directorios dentro de la carpeta app/composer relativa al fichero `.gitignore` recursivamente.
!ignorado/superignore.js